
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1F2937;
   /*  outline: 2px solid red; */
}


  .containerheader{
    display: flex;
    color:white;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
  }


  .p{
    color: #aaabac;
    font-size: 18px; 
 
  }

  .headerlink{
    display: flex;
    flex-direction: row;
    align-items: center
  }

  .hero{
    display : flex;
    justify-content: space-between;
    padding: 100px;
  } 
  
 .herotext{
    font-size: 48px;
    color: white;
    font-weight: 900;
    margin: 0px;
 }
 
.herosubtext{
    color: #E5e7eB;
    width: 400px;

}

.signup{
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    border-color: #3882f6;
}


.test{
   margin-bottom: 50px;
    display: flex;
    justify-content:center;
}

 .information{
 
    height: 40px;
    width: auto;
    margin-top: 50px;
    font-weight: 900;
    font-size: 36px;
    
 }

.backgroundwhite{
    background-color:white;
}
 
.mainbox{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.box{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
    
}

.textbox{
    width: 160px;
    height: auto;
    text-align: center;
    
    
}

.quotebackground{
    background-color: #E5e7eB;
}


.t{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    
}



.quote-font{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 36px;
    text-align: center;
    margin-bottom: 0px;
    width: 950px;
    
}

.quoted{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    margin-top: 0px;
    width: 950px;
}


.ctabox{

   display:flex;
   height: 500px;
   justify-content: center;
    align-items: center;
    

}

.ctaboxtext{

    font-size: 24px;
    margin: 0px; 
    background-color:#3882f6;
    color: white;

}

.ctaboxtext-under{
    color: #aaabac;
    font-size: 18px; 
    background-color:#3882f6

}

.row{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color:#3882f6;
    padding: 70px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 200px;
    border-radius: 10px;
    
}

.ctaboxbutton{
    background-color:#3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

.footer{
    height: 70px;
}

.copyright{
    color: #aaabac;
    font-size: 18px; 
}